@model OnlineAuctionProject.Models.Currency

@using OnlineAuctionProject.Resources

@if (Model.Visible)
{
    @Ajax.RawActionLink(string.Format("<span class = \"glyphicon glyphicon-eye-open\"></span> " + Resource.Visible),
                               "ChangeCurrencyVisibility", "admin", new { Id = Model.Id },
                                        new AjaxOptions { HttpMethod = "GET", 
                                                          UpdateTargetId = "divCurrencyVisibilityStatus_" + Model.Id,
                                                          LoadingElementId = "DivWaiting",
                                                          InsertionMode = InsertionMode.Replace },
                            new { @class = "btn btn-success", title = Resource.Hide })


}
else
{
    @Ajax.RawActionLink(string.Format("<span class = \"glyphicon glyphicon-eye-close\"></span> " + Resource.Hidden),
                               "ChangeCurrencyVisibility", "admin", new { Id = Model.Id },
                                    new AjaxOptions { HttpMethod = "GET",
                                                      UpdateTargetId = "divCurrencyVisibilityStatus_" + Model.Id,
                                                      LoadingElementId = "DivWaiting",
                                                      InsertionMode = InsertionMode.Replace },
                            new { @class = "btn btn-danger", title = Resource.Show })

}